.page-login {
    min-height: 0;
    height: 100vh;
    background-color: $bg-color;
    .content {
        padding-bottom: 150px;
        padding-top: 150px;
        .card {
            box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
        }
    }
}
