// Sidebar width
$sidebar-width: 256px;
$bg-color: #2d323e;

// Brand Primary Color
$hex-primary: #20a8d8;
$rgb-primary: rgb(32, 168, 216);
// Brand Primary Active Color
$hex-active-primary: #1985ac;
$rgb-active-primary: rgb(25, 133, 172);
// Brand Secondary Color
$hex-secondary: #c8ced3;
$rgb-secondary: rgb(200, 206, 211);
// Brand Success Color
$hex-success: #4dbd74;
$rgb-success: rgb(77, 189, 116);
// Brand Danger Color
$hex-danger: #f86c6b;
$rgb-danger: rgb(248, 108, 107);
// Brand Warning Color
$hex-warning: #ffc107;
$rgb-warning: rgb(255, 193, 7);
// Brand Info Color
$hex-info: #63c2de;
$rgb-info: rgb(99, 194, 222);
// Brand Light Color
$hex-light: #ebedef;
$rgb-light: rgb(235, 237, 239);
// Brand Dark Color
$hex-dark: #2f353a;
$rgb-dark: rgb(47, 53, 58);
// Brand White Color
$hex-white: #ffffff;
$rgb-white: rgb(255, 255, 255);
// Gray 100 Color
$hex-gray100: #f0f3f5;
$rgb-gray100: rgb(240, 243, 245);
// Gray 200 Color
$hex-gray200: #e4e7ea;
$rgb-gray200: rgb(228, 231, 234);
// Gray 300 Color
$hex-gray300: #c8ced3;
$rgb-gray300: rgb(200, 206, 211);
// Gray 400 Color
$hex-gray400: #acb4bc;
$rgb-gray400: rgb(172, 180, 188);
// Gray 500 Color
$hex-gray500: #8f9ba6;
$rgb-gray500: rgb(143, 155, 166);
// Gray 600 Color
$hex-gray600: #73818f;
$rgb-gray600: rgb(115, 129, 143);
// Gray 700 Color
$hex-gray700: #5c6873;
$rgb-gray700: rgb(92, 104, 115);
// Gray 800 Color
$hex-gray800: #2f353a;
$rgb-gray800: rgb(47, 53, 58);
// Gray 900 Color
$hex-gray900: #23282c;
$rgb-gray900: rgb(35, 40, 44);
